@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    background-image: url('/imagem/background-produto-cadastro.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background-color: #444444e0;
    /* box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.404); */
    border-radius: 10px;
    margin: 2%;
    width: 700px;
    height: 100%;
    display: flex;
    padding: 30px;
    flex-direction: column;
    color: #fff;
}
.formHead{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.formHead a{
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
}
.formHead span{
    color: #fff;
}
.formHead i{
    font-size: 20px;
}
.formHead img{
    width: 250px;
}
.formHead h1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
}
form h3{
    font-size: 20px;
    font-weight: 500;
}
form input{
    width: 100%;
    padding: 10px 10px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.404);
    outline: none;
    min-width: 180px;
    font-size: 16px;
    margin-bottom: 15px;
}
form textarea{
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.404);
    font-size: 16px;
    margin-bottom: 15px;
    padding: 10px 10px;
    height: 200px;
}
.tamanhoOption{
    display: flex;
    align-items: center;
}
.tamanhoOption i{
    margin-left: 15px;
}
.tamanhoInfo{
    font-size: 13px;
}
form select{
    width: 100%;
    padding: 10px 10px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.404);
    outline: none;
    min-width: 180px;
    font-size: 16px;
    margin-bottom: 15px;
}
form button{
        margin-top: 20px;
        margin-bottom: 5%;
        background-color: #fc7f2d;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        padding: 10px 10px;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

}