@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
}

.catalogo{
  margin-top: 30px;
  text-align: center;
  justify-content: center;
}
.catalogo h3{
  text-transform: uppercase;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  color: #0A242A;
}
.catalogo p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }

.img-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.img-conteiner img{
    width: 300px;
    padding: 10px;
    border-radius: 15px;
}

.slider-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.slider-inner img {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
}

.slider button{
    background: #0073e6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
  }

  @media (max-width:1234px) {
    .img-conteiner img{
      width: 250px;
    }
}

@media(max-width:940px){
    .img-conteiner{
      display: grid;
      grid-template-columns: 270px 270px ;
    }
}