@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
}
.imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.imgContainer img{
    width: 80%; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da altura */
    /* max-width: 100%; Garante que a imagem não ultrapasse o tamanho do contêiner */
    max-height: 500px; /* Define uma altura máxima para padronizar o tamanho da imagem */
    object-fit: contain; /* Redimensiona a imagem sem deformá-la */
}
.produtoInfo{
    background-color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}
.produtoInfo .nomeProduto{
    font-size: 35px;
    color: #0A242A;
    font-weight: 500;
    margin-bottom: 5%;
}
.produtoInfo h2{
    color: #0A242A;
    font-size: 25px;
    font-weight: 500;
}
 .produtoInfo h1{
    margin-top: 5%;
    font-size: 35px;
    color: #EC9A36;
    font-weight: 650;
}
.produtoInfo h1 small{
    font-weight: 600;
}
.descPequena {
    max-height: 4.5em; /* Altura máxima para 2 linhas */
    overflow: hidden;  /* Esconde o texto que excede a altura */
    text-overflow: ellipsis; /* Adiciona "..." ao final do texto que é cortado */
    display: block; /* Alterar para block para garantir o comportamento */
    line-height: 2.25em; /* Defina a altura da linha para ajustar conforme necessário */
    margin: 0; /* Remove margens que podem interferir */
}

.mais-detalhes {
    color: #EC9A36;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5%;
}

.mais-detalhes:hover {
    text-decoration: underline;
}
.tamanhosContainer{
    display: flex;
    /* justify-content: space-around; */
}
.tamanhosContainer h3{
    margin-right: 10px;
    padding: 5px 15px 5px 15px;
    border: solid 1px;
    border-color: #c9c9c9;
    font-weight: 600;
}
.buttons button{
    margin-right: 10px;
}
.buttons .comprarBtn{
    margin-top: 20px;
    margin-bottom: 5%;
    background-color: #fc7f2d;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 10px;
    width: 150px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* margin-right: 10px; */
}
.buttons .adicionarBtn{
    margin-top: 20px;
    margin-bottom: 5%;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 10px;
    width: 300px;
    font-size: 15px;
    border: 1px solid;
    border-color: #fc7f2d;
    color: #fc7f2d;
    border-radius: 10px;
    cursor: pointer;
    /* margin-right: 10px; */
}
.infos{
    padding: 40px;
}
.infoContainer{
    padding: 30px;
    border-top: solid #8d8d8d62;
}
.infos h3{
    font-size: 25px;
    color: #0A242A;
    font-weight: 800;
}
.infos h2{
    font-size: 20px;
    color: #fc7f2d;
    font-weight: 700;
}
.infos p {
    font-size: 16px; /* Ajusta o tamanho da fonte */
    white-space: pre-wrap;
}
@media(max-width:992px){
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}