@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    transition: all 0.3s ease;
}

body {
    background-color: #f0f5f5;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.barraLateral {
    max-width: 25%;
    min-width: 25%;
    height: 100vh;
    padding: 30px;
    background-color: #063C46;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barraLateral ul {
    list-style: none;
}

.opcoesPerfil li{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.opcoesPerfil li a{
    color: #fff;
}

.opcoesPerfil li:hover {
    background-color: #07565e;
    transform: scale(1.05);
}

.opcoesPerfil li.active {
    background-color: #07565e;
    transform: scale(1.05);
    font-weight: bold;
}

.opcoesPerfil i {
    font-size: 30px;
}

.opcoesPerfil span {
    font-size: 17px;
    margin-left: 10px;
}

.parteInferior {
    height: 30%;
}

.sairBtn {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #FC7F2D;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sairBtn:hover {
    background-color: #e86c1b;
}

.conteudo {
    height: 100%;
    flex-grow: 1;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    overflow: scroll; /* Exibe a barra de rolagem sempre */
}

.secaoPerfil {
    display: none;
}

#configuracoes {
    display: block;
}

h2 {
    color: #063C46;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-weight: 500;
    color: #063C46;
    margin-bottom: 5px;
    font-size: 20px;
}

.secaoPerfil span {
    font-weight: 400;
    color: #555;
    font-size: 20px;
}

input {
    width: 60%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

input:read-only {
    background-color: #f5f5f5;
    cursor: not-allowed;
}

input:focus {
    border-color: #FC7F2D;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.botoesAcao {
    display: flex;
    justify-content: flex-start;
    gap: 10px; /* Espaçamento entre os botões */
}

#atualizarBtn, #cancelarBtn {
    width: auto; /* Deixe os botões ajustarem seu tamanho ao conteúdo */
}


#editarBtn {
    background-color: #063C46;
    color: white;
}

#editarBtn:hover {
    background-color: #07565e;
}

#atualizarBtn {
    background-color: #FC7F2D;
    color: white;
}

#atualizarBtn:hover {
    background-color: #e86c1b;
}

#cancelarBtn {
    background-color: #bbb;
    color: white;
}

#cancelarBtn:hover {
    background-color: #999;
}


/* =========================== Seção de produtos cadastrados empresa ======================================= */

/* Container geral para os produtos */
.produtos-container {
    margin-top: 0%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ajuste conforme o número de colunas desejado */
    grid-gap: 40px;
    padding: 20px;
  }
  
  /* Estilização individual dos cards de produto */
  .produto-card {
    background-color: #fff;
    border: 1px solid #3333331a;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    padding: 15px;
    border-radius: 8px;
  }
  
  /* Efeito de hover para destacar o produto */
  .produto-card:hover {
    transform: scale(1.05);
  }
  
  /* Estilização para a imagem do produto */
  .produto-card .imagem-produto {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  /* Informações do produto */
  .produto-card .info-produto {
    text-align: center;
    margin-top: 10px;
  }
  
  .produto-card .info-produto h4 {
    font-size: 16px;
    font-weight: 600;
    color: #1c4c4e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
  
  .produto-card .info-produto p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
  }
  
  /* Botões de editar e remover */
  .produto-card .acoes-produto {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  .produto-card .acoes-produto .editarBtn{
    background-color: #1c4c4e;
  }
  .produto-card .acoes-produto .removerBtn{
    background-color: #a12e2e;
  }
  .produto-card .acoes-produto button {
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    transition: background-color 0.3s;
  }

  /* Estilo do Modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo com transparência */
}

/* Conteúdo do Modal */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* Botão de Fechar (X) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.descProduto{
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
    width: 200px; 
}
  
/* Responsividade */
@media(max-width: 1440px) {
    .barraLateral {
        width: 40%;
    }
}

@media(max-width: 768px) {
    .barraLateral {
        width: 100%;
        height: auto;
    }

    .conteudo {
        margin: 10px;
    }
}
