/* Google Fonts - Poppins */

.slide-container{
  max-width: 1400px;
  /* max-width: 1120px; */
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  padding: 20px;
}

.card{
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}
.produtos{
  display: flex;
align-items: center;
justify-content: center;
background-color: #EFEFEF;
}
.produtos ul{
  list-style: none;
}
.imgproduto{
  width: 275px;
  height: 240px;
}
.produto{
  width: 295px;
  height: 390px;
  padding: 10px;
  position: relative;
  border: 1px solid #58585862;
  transition: ease-in-out 0.5s;
}
.produto:hover{
  transform: scale(1.1);
}

.produto i{
  position: absolute;
  background-color: #1C4C4E;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  right: 0;
  bottom: 0;
  margin: 10px 10px 10px 0px;
}
.produto h3{
  text-transform: uppercase;
  color: #1C4C4E;
}
.preco-parcelado label{
  color: #EC9A36;
  font-size: 19px;
}
.preco-parcelado span{
  color: #EC9A36;
  font-weight: 700;
  font-size: 25px;
}
.precoVista{
  color: rgb(90, 90, 90);
  font-size: 17px;
}

/* ============= Responsividade ================= */
/* ============= Tamanho 1440px =============== */
@media(max-width:1440px){
  /* nada */
}
/* ============= Tamanho 1200px =============== */

@media(max-width:1200px){
  .cards{
      gap: 1.5rem;
  }
}

/* ============= Tamanho 992px =============== */
@media(max-width:992px){
  .imgproduto{
      width: calc(275px - 15px);
      height: calc(240px - 15px);
  }
  .produto{
      width: calc(295px - 15px);
      height: calc(390px - 15px);
  }
}
/* ============= Tamanho 768px =============== */
@media(max-width:768px){
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
