#root{
  margin-top: 5%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 50px;
}
.products-container{
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.product{
  width: 200px;
  height: 100%;
  background-color: #fff;
  border: 1px solid #3333331a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.product:hover{
  transform: scale(1.1);
}
.imgProduct{
  width: 100%;
  height: 190px;
}
.imgProduct .images{
  width: 100%;
  height: 100%;
  object-fit: contain; /* Redimensiona a imagem sem deformá-la */
  max-height: 400px; /* Define uma altura máxima para padronizar o tamanho da imagem */
  max-width: 100%;
}
.product a{
  text-decoration: none;
  width: 100%;
}
.infoProduct{
  width: 100%;
  height: 100%;
  padding: 10px;
}
.infoProduct h3 {
  font-size: 15px;
  font-weight: 600;
  color: #1c4c4e;
  white-space: nowrap;         /* Impede que o texto quebre em várias linhas */
  overflow: hidden;            /* Esconde o texto que ultrapassar o tamanho do contêiner */
  text-overflow: ellipsis;     /* Adiciona reticências (...) no final do texto truncado */
  max-width: 180px;            /* Define a largura máxima do elemento */
}
.infoProduct h1{
  color: #ec9a36;
  font-size: 23px;
  font-weight: 500;
}
.precoAvista{
  display: flex;
  margin-bottom: 8px;
}
.infoProduct h2{
  font-size: 15px;
  font-weight: 500;
  color: #1c4c4e;
  margin-right: 5px;
}
.infoProduct strong{
  font-weight: 600;
}
.infoProduct button{
  color: #fff;
  background-color: #ec9a36;
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100%;

}

@media(max-width: 1440px) {
  #root {
    grid-template-columns: repeat(5, 1fr);
  }

  /* #root .product:nth-child(n+6) {
    display: none;
  } */
}
@media(max-width:1200px){
  #root {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media(max-width:992px){
  #root {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media(max-width:768px){
  #root {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
@media(max-width:576px){
  #root {
    grid-template-columns: repeat(2, 1fr);
  
  }
}