@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    background-image: url('/imagem/background-login-cadastro.png');
    background-size: cover; 
    background-repeat: no-repeat; 
}
.txtPrincipal{
    margin-top: 10%;
    text-transform: uppercase;
}
h3{
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-left: 50px;
    margin-right: 50px;
}
.opcoes{
    width: 100%;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
}
.opcoes a{
    text-decoration: none;
}
.cliente{
    background-color: #F38336;
}
.empresa{
    background-color: #38985F;
}
.cliente,.empresa{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 30px rgba(1, 1, 1, 0.39);
    border-radius: 10px;
    transition: 0.5s;
    color: #fff;
}
.cliente:hover{
    background-color: #ff7316;
    transform: scale(1.1);
}
.empresa:hover{
    background-color: #24c966;
    transform: scale(1.1);
}
.cliente i,.empresa i{
    font-size: 120px;
}
.cliente p,.empresa p{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
@media(max-width:992px){
    body{
        background-image: none;
        background: rgb(77,181,134);
    background: linear-gradient(90deg, rgba(77,181,134,1) 0%, rgba(2,93,68,1) 100%);
    }
}
@media(max-width:768px){
    .cliente,.empresa{
        width: 250px;
        height: 250px;
    }
    .cliente i,.empresa i{
        font-size: 70px;
    }
    .cliente p,.empresa p{
        font-size: 25px;
        
    }
    .txtPrincipal{
        margin-top: 20%;

    }
}
@media(max-width:576px){
    .cliente,.empresa{
        width: 170px;
        height: 170px;
    }
    .cliente i,.empresa i{
        font-size: 70px;
    }
    .cliente p,.empresa p{
        font-size: 25px;
        
    }
}