<footer>
    <section class="info-rodape">
        <article class="quemsomos"><h3>Quem nós somos</h3>
         <p>A Eco-Future foi criada com propósito de ajudar a combater as práticas de desmatamento que nos ultimos tempos tem sido muito comuns( ... )</p></article>

         <section id="suporte" class="suporte"><h3>Suporte - Duvidas Frequentes</h3>
         <button onclick="exibirResposta('resposta1')">Qualidade do produto 
             <span><i class="fa-solid fa-chevron-down btnCategorias"></i></span>
         </button>
         <article id="resposta1">
             <p>Nossos produtos tem uma das melhores qualidades! As empresas parceiras disponibilizam produtos que não agridem o meio-ambiente, mas que mantém a qualidade sempre visando a satisfação do cliente.</p>
         </article>
         <button onclick="exibirResposta('resposta2')">Política de Devolução e Troca
             <span><i class="fa-solid fa-chevron-down btnCategorias"></i></span>
         </button>
         <article id="resposta2">
             <p>Caso seja necessário realizar alguma troca ou devolução, basta ir na aba do perfil e fazer a solicitação de acordo com a sua necessidade. Caso aprovado será notificado!</p>
         </article>
         <button onclick="exibirResposta('resposta3')">Segurança e Privacidade
             <span><i class="fa-solid fa-chevron-down btnCategorias"></i></span>
         </button>
         <article id="resposta3">
             <p>No nosso site de compras, a sua segurança e privacidade são a nossa principal prioridade. Utilizamos tecnologias avançadas de criptografia para proteger todas as suas informações pessoais e financeiras, garantindo sua total confidencialidade durante todo o processo de compra.</p>
         </article>
         <button onclick="exibirResposta('resposta4')">Como acompanhar minha entrega?
             <span><i class="fa-solid fa-chevron-down btnCategorias"></i></span>
         </button>
         <article id="resposta4">
             <p>Para acompanhar sua compra vá na aba do seu Perfil e clique em Acompanhar Pedido, lá estará as notificações a respeito da onde seu produto se encontra.</p>
         </article>
         </section>

         <article class="contato"><h3>Informações para Contato</h3>
             <a href="/login-empresa">Acesso para parceiros</a> <br>
             Telefone: (99)9999-9999 <br>
             E-mail: ecofuturecontato@gmail.com
         </article>
    </section>

    <!--LOGO DAS EMPRESAS-->
 <section class="empresas">

     <h1>COLABORADORES</h1>

     <section class="logos">
     <section class="emprecard" id="empresa1">
         </section>

     <section class="emprecard" id="empresa2">
     </section>

     <section class="emprecard" id="empresa3">
     </section>

     <section class="emprecard" id="empresa4">
     </section>
     </section>

 </section>
 <!--FIM DAS LOGOS-->
</footer>