<footer>
    <section class="info-rodape">
        <section class="rodapeTxt">
            <img src="/imagem/Logo/Logo-branca.png" alt="logo branca">
            <article>
                <p>Bem-vindo a Eco Venda, o seu espaço para produtos sustentáveis! Aqui, oferecemos uma seleção de itens eco-friendly que promovem um estilo de vida consciente. Junte-se a nós e faça a diferença com suas escolhas!</p>
                <h4>Email: ecovenda@gmail.com</h4>
                <h4>Contato telefone: (xx)xxxxx-xxxx</h4>
            </article>
            
        </section>

         <section id="suporte" class="suporte"><h3>Suporte - Duvidas Frequentes</h3>
         <button onclick="exibirResposta('resposta1')">Qualidade do produto 
             <span><i class="fa-solid fa-chevron-down btnCategorias"></i></span>
         </button>
         <article id="resposta1">
             <p>Nossos produtos tem uma das melhores qualidades! As empresas parceiras disponibilizam produtos que não agridem o meio-ambiente, mas que mantém a qualidade sempre visando a satisfação do cliente.</p>
         </article>
         <button onclick="exibirResposta('resposta2')">Política de Devolução e Troca
             <span><i class="fa-solid fa-chevron-down btnCategorias"></i></span>
         </button>
         <article id="resposta2">
             <p>Caso seja necessário realizar alguma troca ou devolução, basta ir na aba do perfil e fazer a solicitação de acordo com a sua necessidade. Caso aprovado será notificado!</p>
         </article>
         <button onclick="exibirResposta('resposta3')">Segurança e Privacidade
             <span><i class="fa-solid fa-chevron-down btnCategorias"></i></span>
         </button>
         <article id="resposta3">
             <p>No nosso site de compras, a sua segurança e privacidade são a nossa principal prioridade. Utilizamos tecnologias avançadas de criptografia para proteger todas as suas informações pessoais e financeiras, garantindo sua total confidencialidade durante todo o processo de compra.</p>
         </article>
         <button onclick="exibirResposta('resposta4')">Como acompanhar minha entrega?
             <span><i class="fa-solid fa-chevron-down btnCategorias"></i></span>
         </button>
         <article id="resposta4">
             <p>Para acompanhar sua compra vá na aba do seu Perfil e clique em Acompanhar Pedido, lá estará as notificações a respeito da onde seu produto se encontra.</p>
         </article>
         </section>

         
    </section>

 </section>
 <!--FIM DAS LOGOS-->
</footer>