<header class="cabecalho">
    <nav>
        <ul class="menuElementos">
            <li>
                <a href="/home-page">
                    <img class="logoGrande" src="/imagem/Logo/LogoLado Branco.png" alt="logo"> <!--Logo dispositivos grandes-->
                    <img class="logoPequena" src="/imagem/Logo/Logo-fundo-verde-branco.png" alt="">
                </a>
            </li>
            <li>
                <!-- Opções Menu -->
                <ul class="opcoesMenu">
                    <li><a href="catalogo?categoria=moda">Moda Eco</a></li>
                    <li><a href="catalogo?categoria=bag">Eco Bags</a></li>
                    <li><a href="catalogo?categoria=cosmetico">Cosmeticos</a></li>
                    <li class="btnCategorias">Mais <i onclick="abrirsubmenu()" class="fa-solid fa-chevron-down"></i>
                        <!--Dropdown-->
                        <ul class="dropdown">
                            <li><a href="/ecopremium">Assinatura Eco+</a></li>
                            <li><a href="/catalogo">Todos Produtos</a></li>
                            <li><a href="catalogo?categoria=higiene">Higiene</a></li>
                            <li><a href="catalogo?categoria=moda">Moda Eco</a></li>
                            <li><a href="catalogo?categoria=bag">Eco Bags</a></li>
                            <li><a href="catalogo?categoria=cosmetico">Cosméticos</a></li>
                        </ul>
                        <!-- Fim do Dropdown -->
                    </li>
                </ul>
                <!-- Fim Opções Menu -->
            </li>
            <li>
                <!-- Barra de Pesquisa -->
<section class="buscar-box">
    <section class="lupa-buscar">
        <i class="fa-solid fa-magnifying-glass"></i>
    </section> <!--lupa buscar-->

    <section class="input-buscar">
        <input type="text" autocomplete="off" id="input-pesquisa" placeholder="Faça uma busca" onkeyup="pesquisarProdutos()">
        <!-- Div para exibir os resultados da pesquisa -->
        <div id="resultado-pesquisa" class="resultado-pesquisa"></div>
    </section>

    <section class="btn-fechar">
        <i class="fa-regular fa-circle-xmark"></i> <!--Botao de fechar-->
    </section>
</section>
<!-- Fim Barra de Pesquisa -->
            </li>
            <li>
                <!-- Icones Menu -->
                <ul class="iconesMenu">

                    <li class="iconPerfil">
    <a class="menuicon" href="#">
        <span class="icon"><i class="fa-solid fa-user"></i></span>     
        <span class="text">Perfil</span>
    </a>
    
    <ul class="dropdownPerfil">
                 <% if (!autenticado || !autenticado.id) { %>
                   <li id="login-button"><a class="perfilOptions" href="/redirecionamento">Login e Cadastro</a></li>
                 <% } else if (autenticado.tipo === 'usuario') { %>
                   <li class="perfilOptions"><a href="/perfil-usuario">Meu Perfil</a></li>
                   <li class="perfilOptions" id="sairOption"><a href="/logout">Sair</a></li>
                 <% } else if (autenticado.tipo === 'empresa') { %>
                   <li class="perfilOptions"><a href="/perfil-empresa">Meu Perfil</a></li>
                   <li class="perfilOptions" id="sairOption"><a href="/logout">Sair</a></li>
                   <% } else if (autenticado.tipo === 'admin') { %>
                     <li class="perfilOptions"><a href="/perfil-adm">Meu Perfil</a></li>
                     <li class="perfilOptions" id="sairOption"><a href="/logout">Sair</a></li>
                   <% } %>
               </ul>
</li>
    
                    <!-- Icone Carrinho -->
<li><a class="menuicon" href="/carrinho"> <!--link para entrar na pagina do carrinho-->
    <span class="icon"><i class="fa-solid fa-cart-shopping"></i></span>
    <span class="text">Carrinho</span>
    <span id="cart-item-count" class="item-count"><%= qtdItensCarrinho %></span>
</a></li> <!-- Fim Icone Carrinho -->   
    
                <!--Icone Menu Hamburguer-->
                <li><span class="icon menuicon menuhamburguer btnMenu"><i class="fa-solid fa-bars"></i></span></li>  
                <!-- Fim Icone Menu Hamburguer--> 
            </ul>
            </li>
        </ul>
    </nav>
</header>

<!-- ============= Menu Lateral Dispositivos Mobile ================== -->
<section class="menuMobile">
    <section class="menuLateral">
        <h3>Fechar Opções <i class="fa-solid fa-xmark fecharMenu"></i></h3> 
        <ul>
            <li><a href="/home-page">Página inicial</a></li>
            <li><a href="/catalogo">Todos Produtos</a></li>
            <li><a href="#" class="categorias">Categorias
                <i class="fa-solid fa-caret-down"></i></a></li>
            <ul class="firstOption">
                <li><a href="#">Camisas</a></li>
                <li><a href="#">Eco Bags</a></li>
                <li><a href="#">Cosméticos</a></li>
                <li><a href="#">Higiene</a></li>
            </ul>

            <li><a href="/ecopremium">Assine Eco+</a></li>

            
            <li><a href="#" class="ajudaUsuario">Ajuda ao usuário 
                <i class="fa-solid fa-caret-down"></i></a></li>
                <ul class="secondOption">
                    <li><a class="btnSuporte" href="#suporte">Suporte</a></li>
                    <li><a href="#">Meu Perfil</a></li>
                    <li class="loginBtn"><a href="/login">Login</a></li>
                    <li class="cadastrarBtn"><a href="/cadastro">Cadastrar</a></li>
                    <li class="acesso-parceiros"><a href="/login-empresa">Acesso para parceiros</a></li>
                    <li class="sairbtn"><a id="sairbtn" href="" onclick="deslogar()">Sair</a></li>
                </ul>
        </ul>
    </section>
</section>
<!-- ============= Fim Menu Lateral Dispositivos Mobile ================== -->