<section class="produtos">
        
    <ul class="cards">
        <!-- CARD1 -->
        <li>
            <div id="card1" class="produto">
                <a href="../pages/produtos/camiseta15.html"><img class="imgproduto" src="../imgs/camisetas/camisa.webp" alt="camisa"></a>
                <h3>Camiseta Eco</h3>
                <div class="preco-parcelado">
                    <label for="span">3x </label><span>R$00,00</span>
                </div>
                <div class="precoVista">
                    <label for="span">À vista </label><span class="preco">R$00,00</span>
                <i class="fa-sharp fa-solid fa-bag-shopping" onclick="addToCart('card1')"></i>
                </div> 
            </div>
        </li>

        
    </ul>

</section><!--Fim Produtos-->
