<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY, Fontawesome e css menu e do rodapé -->
    <%- include('../partial/essenciais'); %> 

    <!-- CSS (da pagina) -->
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/produtos-slider.css">

    <title>Home</title>
</head>
<body>
    <!-- Menu e menu lateral -->
    <%- include('../partial/header'); %>
    <!-- Fim menu e menu lateral -->

    <!-- =============== CONTEUDO ===============-->
    <main>

        <!-- Imagem Home --> 
        <section class="imagemHome">
            <section class="conteinerImg">
                <img src="/imagem/home-img.png" alt="homem olhando texto">
            </section>

            <article class="info-home">
                <h2>Transforme sua<br> compra em um ato de <br><strong>amor</strong> pelo planeta</h2>
                <a href="/catalogo"><input class="home-button" type="button" value="Comece sua compra"></a>   
            </article>
        </section>
        <!--Fim Imagem Home-->

        <!-- Quem somos -->
        <section class="quemSomosConteiner">
            <article class="quemSomostxt">
                <h1>Quem somos?</h1>
                <p>A Eco Venda é uma plataforma agregadora de empresas de todos os portes para promover a venda de produtos sustentáveis, visando ser referência no mercado. Oferecemos itens ecológicos de alta qualidade, como eco bags, roupas e acessórios feitos com materiais reciclados, cosméticos cruelty-free e produtos que contribuem para a redução de resíduos. Queremos incentivar o consumo consciente, mostrando que é possível escolher produtos sustentáveis sem abrir mão de qualidade e propósito.</p>
            </article>
            <section class="quemSomosImg">
                <img src="/imagem/quemsomosimg.png" alt="ilustração">
            </section>
        </section>
        <!-- Fim Quem somos -->

        <h2 class="procurandoTxt">O que você está procurando?</h2>

        <!-- Anuncios Categorias -->
        <section class="anuncioCategorias">
            <section class="imgSuperior">
                <img id="imgModa" src="/imagem/Moda.png" alt="imagem ilustrativa Moda">
                <img id="imgHigiene" src="/imagem/Higiene.png" alt="imagem ilustrativa Higiene">
            </section>
            <section class="imgInferior">
                <img id="imgBag" src="/imagem/Bags.png" alt="imagem ilustrativa Bag">
                <img id="imgCosmetico" src="/imagem/Cosméticos.png" alt="imagem ilustrativa Cosmetico">
            </section>
        </section>
        <!-- Fim Anuncios Categorias -->
        
        <h2 class="produtosDestaques">Produtos Destaques</h2>

        <!-- Produtos -->
        <section class="products-container">
            <section id="root">
               
         
            </section>
         </section>
        <!--Fim Produtos-->

        <!-- Carrossel -->
        <section>
            <section class="conteiner">
                <button id="prev-btn"><i class="fa-solid fa-chevron-left"></i></button>
            <section class= "img-conteiner">
                <img class="slider on" src= "/imagem/carrossel.png" alt="imagem carrossel">
                <img class="slider" src= "/imagem/carrossel(1).png" alt="imagem carrossel">
                <img class="slider" src= "/imagem/carrossel(2).png" alt="imagem carrossel">
                <img class="slider" src= "/imagem/carrossel(3).png" alt="imagem carrossel">
            </section>
                <button id="next-btn"><i class="fa-solid fa-chevron-right"></i></button>
            </section>
        </section>
        
        <!--Fim Carrossel-->

        <!-- Assinatura -->
        <section class="ecopremium">
            <article class="premiumTxt">
                <h2>Conheça a Assinatura Eco+</h2>
                <p>
                    Não deixe essa oportunidade passar! Junte-se a nós e faça parte de uma comunidade comprometida com o meio ambiente e com um consumo consciente. Diversos Benefícios para você! Entre eles:
                </p>
                <ul>
                    <li><i class="fa-solid fa-box"></i> Box Surpresa</li>
                    <li><i class="fa-solid fa-tag"></i> Descontos Exclusivos</li>
                    <li><i class="fa-solid fa-truck-fast"></i> Frete grátis em entregas</li>
                </ul>
                <a href="/ecopremium">
                    <button>Saiba mais</button>
                </a>      
            </article>
            <section class="premiumImg">
                <img src="/imagem/abrindo-caixa.png" alt="homem abrindo caixa">
            </section>
        </section>

    </main>
    <!-- ========= FIM CONTEUDO ============ -->

    <!-- Rodapé -->
    <%- include('../partial/footer'); %>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if(urlParams.get('login') === 'sucesso'){
            
            new Notify({
              status: 'success',
              title: 'Seja bem vindo(a)!',
              text: 'Usuário logado com sucesso.',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }

          if(urlParams.get('erro') === 'logado'){
            
            new Notify({
              status: 'error',
              title: 'Voçê já está logado.',
              text: 'Não foi possível acessar a página, você ja está logado, faça logoff e tente novamente.',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }

          if(urlParams.get('acesso') === 'negado'){
            
            new Notify({
              status: 'error',
              title: 'Acesso negado!',
              text: 'Esta página é direcionada somente para empresas.',
              effect: 'fade',
              speed: 300,
              customClass: null,
              customIcon: null,
              showIcon: true,
              showCloseButton: true,
              autoclose: true,
              autotimeout: 3000,
              gap: 20,
              distance: 20,
              type: 'outline',
              position: 'right top'
            })
          }
        
          </script>

    <%- include('../partial/scripts-essenciais'); %>
    <script src="/js/carrossel.js"></script>

    <!-- <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/slider-produtos.js"></script> -->
</body>
</html>
